body{
    background-image: url("img/tilesForWebPage.png");
    background-attachment: fixed;
    margin: 0;
}

.header{
    width: 100%;
    height: 150px;
    background-color: #141013;
}

.mainBody{
    height: 3000px;
}

.footer{
    width: 100%;
    height: 100px;
    background-color: #141013;
}

#centering{
    margin-left: 45%;
}

.welcomeStuff{
    text-align: center;
    padding-top: 90px;
}

.transportationBtns{
    margin-left: 16%;
    text-align: center;
    padding-top: 200px;
    
    
}

.transportItem{
    float: left;
    margin-left: 3%;
    margin-bottom: 20px;
    height: 850px;
    width: 480px;
    border-width: 10px;
    border-style: solid;
    border-color: #dae0ea;
}

.coronationBTN{
    margin-top: 150%;
    width: 204px;
    height: 50px;
    background-color: #dae0ea;
    border-radius: 0;
    background-image: url("img/learnMore.png");
}

#coronationBannerBG{
    background-image: url("img/coronationBanner.gif");
}

.menu {
    list-style-type: none;
    margin: 0;
    padding-left: 45%;
    background-color: #141013;
    display: flex;
}

.menu-item {
    position: relative;
    padding: 15px 20px;
    color: white;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #330c38;
}

/* Dropdown menu initially hidden */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #181317;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 0;
}

/* Dropdown content styling */
.dropdown-content li {
    padding: 12px 16px;
    text-align: left;
}

.dropdown-content li a {
    text-decoration: none;
    color: whitesmoke;
}

.dropdown-content li a:hover {
    background-color: #330c38; 
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
