body{
    background-image: url("img/bgTileCoronationPage.png");
    background-attachment: fixed;
    margin: 0;
}

.header{
    width: 100%;
    height: 150px;
    background-color: #141013;
}

#centering{
    margin-left: 45%;
}


.mainBody{
    margin-top: 500px;
    height: 1000px;
    background-color: #e3e6ff;
}

.footer{
    width: 100%;
    height: 100px;
    background-color: #141013;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding-left: 45%;
    background-color: #141013;
    display: flex;
}

.menu-item {
    position: relative;
    padding: 15px 20px;
    color: white;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #330c38;
}

/* Dropdown menu initially hidden */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #181317;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 0;
}

/* Dropdown content styling */
.dropdown-content li {
    padding: 12px 16px;
    text-align: left;
}

.dropdown-content li a {
    text-decoration: none;
    color: whitesmoke;
}

.dropdown-content li a:hover {
    background-color: #330c38; 
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

